# Strings in Detail

In [1]:
name = "Toyosi LetsUpgrade"

In [2]:
name.isalpha()

False

In [5]:
name.index("o")

1

In [6]:
address = "Lagos Nigeria"

In [7]:
address

'Lagos Nigeria'

In [8]:
# you can concatinate the strings together

In [9]:
name + address

'Toyosi LetsUpgradeLagos Nigeria'

In [12]:
name +" "+ address # to get the space in between

'Toyosi LetsUpgrade Lagos Nigeria'

In [13]:
name.split()

['Toyosi', 'LetsUpgrade']

In [16]:
name[5]

'i'

In [3]:
# Assignment No. 1 for the day

"Try 5 different functions of the string in Python"

# Lists

In [19]:
#what are list ?

In [20]:
#its a datatype that can hold multiple data types inside it

List are a collection of datatypes which can hold int, Float, string and Sub Lists also

In [29]:
lst = [1,2,3,4,5,6,"Toyosi","abc",5.6,7.8,["LetsUpgrade"]]#sublist

In [31]:
type(lst)

list

In [32]:
lst

[1, 2, 3, 4, 5, 6, 'Toyosi', 'abc', 5.6, 7.8, ['LetsUpgrade']]

In [33]:
lst[6]

'Toyosi'

In [42]:
lst[0]

1

In [36]:
lst[-1]

['LetsUpgrade']

In [37]:
lst[-4]

'abc'

In [40]:
lst = [1, 2, 3, 4, 5, 6, 'Toyosi', 'abc', 5.6, 7.8, ["sai","Kemi",'LetsUpgrade']]

In [41]:
lst

[1, 2, 3, 4, 5, 6, 'Toyosi', 'abc', 5.6, 7.8, ['sai', 'Kemi', 'LetsUpgrade']]

In [43]:
type(lst)

list

In [45]:
lst[10]

['sai', 'Kemi', 'LetsUpgrade']

In [48]:
lst[10][0]

'sai'

In [49]:
lst[-1][1]

'Kemi'

In [50]:
lst.append("last")

In [51]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 'Toyosi',
 'abc',
 5.6,
 7.8,
 ['sai', 'Kemi', 'LetsUpgrade'],
 'last']

In [52]:
lst.insert(0,"first")

In [53]:
lst

['first',
 1,
 2,
 3,
 4,
 5,
 6,
 'Toyosi',
 'abc',
 5.6,
 7.8,
 ['sai', 'Kemi', 'LetsUpgrade'],
 'last']

# Tuples

In [54]:
#Tuples are immutable and they are not editable once declared

In [55]:
tup = ("we","Love","LetsUpgrade")

In [56]:
tup

('we', 'Love', 'LetsUpgrade')

In [59]:
tup.count("we")

1

In [60]:
tup.count("We") #Capital actually maters

0

In [61]:
tup.index("LetsUpgrade")

2

In [63]:
# Where do we use Tuples?

In [4]:
#it is used for declearing something that is of constant value and won't change at any point in time 
#e.g a software version, noting down my date of birth, noting down my bank transaction, software licenses

# Dictionary

#what is dictionary

In [5]:
#we use dictionaries for Key Value Pair. i.e to define something in the system

In [70]:
#Ex. of List -> A society with Row House and having Address starting from 0

In [6]:
# Ex. of Dict -> A village where we don't have House number, and the House are been recognised by the main person in 
#the house (the house main persons name is marked on the house)

In [77]:
dit = {"key":"value","key1":1,"key2":5.6}

In [85]:
dit

{'key': 'value', 'key1': 1, 'key2': 5.6}

In [91]:
 dit[0] #doesn't work

KeyError: 0

In [92]:
dit["key"]

'value'

In [93]:
dit["key1"]

1

In [94]:
ditPerson = {"Name":"Toyosi", "age":21, "email":"oluwajana_oluwatoyosi@yahoo.com"}

In [95]:
ditPerson

{'Name': 'Toyosi', 'age': 21, 'email': 'oluwajana_oluwatoyosi@yahoo.com'}

In [97]:
ditPerson.get("Name") # first format to get a value

'Toyosi'

In [98]:
ditPerson["Name"] # second format to get a value

'Toyosi'

In [99]:
dit1 = {"subDict":{"Key1":1,"Key2":3}}

In [100]:
dit1

{'subDict': {'Key1': 1, 'Key2': 3}}

In [102]:
dit1.get("subDict")

{'Key1': 1, 'Key2': 3}

In [104]:
dit1.get("subDict").get("Key1")

1

# IF ELSE AND ELIF

In [7]:
# If i want something and it is not there then give me this

In [8]:
#it is something that will check that your condition is satisfying yes or no

In [108]:
num = 3

In [112]:
if num == 4:
    print("Hey its 4")

In [113]:
if num == 4:
    print("Hey its 4")
else:
     print("Else this is Not 4")

Else this is Not 4

In [116]:
num = 40

if num < 40:
    print("Number is less than 40")
elif num == 40:
    print("Number is 40")
else:
    print ("Number is greater than 40")

Number is 40

In [117]:
num = 57

if num < 40:
    print("Number is less than 40")
elif num == 40:
    print("Number is 40")
else:
    print ("Number is greater than 40")

Number is greater than 40